
.footer {
    display: flex;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.4);

    justify-content: center;

    &-left {
        @media (max-width: $large) and (min-width: $small + 1) {
            flex: 0 0 60%;
        }

        @media (max-width: $small) {
            flex: 1 0 100%;
        }
    }

    &-right {
        @media (max-width: $large) and (min-width: $small + 1) {
            flex: 0 0 40%;
        }

        @media (max-width: $small) {
            flex: 1 0 100%;
        }
    }
    .wrapper {
        display: flex;

        margin-top: 37px;

        @media (max-width: $small) {
            flex-wrap: wrap;
        }
    }

    .menu {
        @media (max-width: $xsmall) {
            justify-content: center;
        }

        &-button {
            display: none;
        }

        &_list {
            @media (max-width: $large) {
                top: initial;
                bottom: 100%;
            }

            &_item1 {
                font-size: 0.9rem;
            }
        }
    }
}

.footer-logo {
    margin: $gutter;

    @media (min-width: $small + 1) {
        text-align: right;
    }

    @media (max-width: $small) {
        text-align: center;
    }
}

.twitter {
    display: flex;

    flex-wrap: wrap;

    &_image {
        flex: 0 0 55px;
    }

    &_description {
        flex: 1 0 100px;

        &-title {
            display: block;

            color: #ffffff;

            font-size: 2rem;
        }

        &-slogan {
            color: #727272;
        }
    }

    &_post {
        position: relative;

        flex: 1 0 calc(100% - 67px);

        padding: 20px;

        border-radius: 10px;
        background: rgba(0, 0, 0, 0.4);

        @media (min-width: $xsmall + 1) {
            margin: 12px 30px 30px 37px;
        }

        @media (max-width: $xsmall) {
            margin: 12px 0 30px 37px;
        }

        &::before {
            position: absolute;
            top: -19px;
            left: 0;

            content: url("../img/twitter-speech-bubble.png");
        }
    }

    &_post-text {
        color: $base-color;

        line-height: 18px;
    }

    &_post-date {
        color: $accent-color;

        font-size: 0.83rem;
        font-style: italic;
    }
}

.copyright {
    color: #ffffff;

    @media (min-width: $large + 1) {
        margin: 57px $gutter $gutter $gutter;

        text-align: right;
    }

    @media (max-width: $large) and (min-width: $small + 1) {
        margin: $gutter*5 $gutter $gutter $gutter;

        text-align: right;
    }

    @media (max-width: $small) {
        margin: $gutter*2 $gutter $gutter $gutter;

        text-align: center;
    }
}