.left-sidebar {
    position: relative;

    background-color: $light-color;

    @media (min-width: $small + 1) {
        flex: 0 0 $col-size;

        padding: 0 $gutter $gutter $gutter+5;

        order: 2;

        &::after {
            position: absolute;
            top: $gutter;
            right: 0;

            height: 90%;

            content: "";

            border-right: 1px solid darken($light-color, 7%);
        }
    }

    @media (max-width: $small) {
        flex: 1 0 100%;

        padding: 0 $gutter+5 $gutter+5 $gutter+5;

        order: 3;
    }

    ul {
        padding-left: 20px;
    }

    li {
        position: relative;

        padding: $gutter/2;

        list-style: none;

        color: $base-color;

        font-style: italic;

        &::before {
            position: absolute;

            margin-left: -$gutter;

            content: url("../img/main-list-arrow.png");
        }

        span {
            position: relative;

            &::after {
                position: absolute;
                right: 0;
                bottom: -$gutter/3*2;
                left: 0;

                height: 1px;

                content: "";

                background-color: darken($light-color, 7%);
            }
        }
    }
}
