
.menu {
    position: relative;
    z-index: 9;

    display: flex;

    justify-content: flex-end;

    @media (min-width: $small + 1) {
        flex: 1 0 200px;
    }

    @media (max-width: $small) {
        flex: 1 0 50px;
    }

    &-button_item {
        display: flex;

        min-height: 40px;
        margin: 0;
        padding: 0;

        list-style: none;

        align-items: center;

        @media (max-width: $large) {
            position: absolute;
            z-index: -999;
            top: 100%;
            right: -$gutter;

            visibility: hidden;
            flex-direction: column;

            width: 100vw;

            transition: opacity 0.5s;

            opacity: 0;
            background-color: rgba(#000000, 0.8);
        }

        &.active {
            z-index: 1;

            visibility: visible;

            opacity: 1;

            .menu-button_item1 {
                width: 100%;
                margin: 0;

                text-align: center;

                a {
                    width: 100%;
                    padding: $gutter;

                    border-radius: 0;
                }
            }
        }
    }

    &-button_item1 {
        display: block;

        margin-left: 7px;

        a {
            display: block;

            padding: 12px $gutter;

            text-decoration: none;
            text-transform: uppercase;

            color: $light-color;
            border-radius: $gutter;
        }

        &:hover:not(.active) a {
            background-color: rgba(#ffffff, 0.2);
        }

        &.active a {
            background: linear-gradient(to bottom, #0f8bbe 0%,#2989d8 50%,#207cca 51%,#0eb7fe 100%);
        }
    }
}

.menu-button {
    flex-direction: column;

    width: 50px;
    height: 50px;

    cursor: pointer;

    background-color: rgba(#000000, 0.25);

    align-items: center;
    justify-content: center;


    @media (min-width: $large + 1) {
        display: none;
    }

    @media (max-width: $large) {
        display: flex;
    }

    &_list {
        position: relative;

        width: 60%;
        height: 2px;
        margin: 2px 0;

        transition: all 0.5s;

        background-color: #ffffff;
    }

    &.active .menu-button_list {
        &:first-of-type {
            top: 6px;

            transform: rotate(-135deg);
        }

        &:last-of-type {
            top: -6px;

            transform: rotate(-225deg);
        }

        &:nth-of-type(2) {
            opacity: 0;
        }
    }
}